# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*

# =========================
# Git
# =========================
.git/
.gitignore

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Mongo local data (never containerize)
# =========================
data/
dump/

# =========================
# DO NOT IGNORE MODEL
# =========================
# *.h5   ❌ intentionally NOT ignored
